<section class="py-4 text-center">
    <h2><i class="fa fa-dashboard"></i> Student  Dashboard</h2>
  </section>
  
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="user-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true"><i class="fa fa-users"></i> My Enrolled courses</a>
    </li>
   
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- This will show content for "My Courses" -->
      <app-studentcourses></app-studentcourses>
    </div>
   
  </div>
  