<app-menu></app-menu>
    
    <!-- Home -->
  <app-home></app-home>
    
    <!-- Features -->
  
    <app-features></app-features>
  
    <!-- Popular Courses -->
    <div *ngFor="let course of courses" class="row courses_row">

   <app-course [courseInput]="course"></app-course>
</div>  
    <!-- Counter -->
 <app-counter></app-counter>
  
    <!-- Events -->
  <app-events></app-events>
   
  
    <!-- Team -->
  
   <app-team></app-team>
  
    <!-- Latest News -->
  
  <app-news></app-news>
    <!-- Newsletter -->
  <app-newsletter></app-newsletter>
    
  
    <!-- Footer -->
    